{% extends "bealstreasure/bootstrap_dashboard.html" %}

{% load django_bootstrap_breadcrumbs %}

{% block title %}Home{% endblock %}

{% block head %}
    <script type="text/javascript" src="{{STATIC_URL}}js/treasure_finder.js"></script>
{% endblock %}


{% block content %}
    {% render_breadcrumbs "django_bootstrap_breadcrumbs/bootstrap3.html" %}
    <table ng-app="bealsTreasure" ng-controller="treasureFinder">
        <tbody>
        <tr>
            <td>
                <center>
                    <form method="post">
                        <table border="0" cellpadding="3" cellspacing="0" width="500">
                            <tbody>
                                <tr align="CENTER" valign="bottom">
                                    <td colspan="4">
                                        <h3>Beal's Treasure Finder 3.0</h3>
                                    </td>
                                </tr>
                                <tr align="CENTER" valign="bottom">
                                    <td colspan="1">
                                        <button type="button" ng-click="start()">Search!</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
    
                    <table border="1" cellpadding="3" cellspacing="0" width="500">
                        <tbody>
                            <tr>
                                <td colspan="4" align="center">
                                    <img src="{{STATIC_URL}}images/mathtex.cgi.gif"
                                         alt="A^x + B^y = C^z">
                                </td>
                            </tr>
                            <tr align="center" valign="bottom">
                                <td width="130">
                                    <p>
                                        <b>A</b>
                                    </p>
                                    <p id="A" ng-bind="finder.A"></p>
                                </td>
                                <td width="130">
                                    <p>
                                        <b>x</b>
                                    </p>
                                    <p id="x" ng-bind="finder.x"></p>
                                </td>
                                <td width="130">
                                    <p>
                                        <b>B</b>
                                    </p>
                                    <p id="B" ng-bind="finder.B"></p>
                                </td>
                                <td width="130">
                                    <p>
                                        <b>y</b>
                                    </p>
                                    <p id="y" ng-bind="finder.y"></p>
                                </td>
                            </tr>
                            <tr align="CENTER">
                                <td colspan="2">
                                    <p>Calculator Status:</p>
                                </td>
                                <td colspan="2">
                                    <p id="status" ng-bind="finder.status"></p>
                                </td>
                            </tr>
                            <tr align="CENTER">
                                <td colspan="2">
                                    <p>Loading Initial Data (%):</p>
                                </td>
                                <td colspan="2">
                                    <p id="progress1" ng-bind="finder.progress1"></p>
                                </td>
                            </tr>
                            <tr align="CENTER">
                                <td colspan="2">
                                    <p>Calculating Block (%):</p>
                                </td>
                                <td colspan="2">
                                    <p id="progress2" ng-bind="finder.progress2"></p>
                                </td>
                            </tr>
                            <tr align="CENTER">
                                <td colspan="2">
                                    <p>Blocks Solved:</p>
                                </td>
                                <td colspan="2">
                                    <p id="solved" ng-bind="finder.solved"></p>
                                </td>
                            </tr>
                            <tr align="CENTER">
                                <td colspan="2">
                                    <p>
                                        Code (<a href="/faq/i-found-something/">?</a>):
                                    </p>
                                </td>
                                <td colspan="2">
                                    <p id="prize"  ng-bind="finder.prize"></p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </center>
            </td>
            <td>
                <h3 style="text-align: center;">Welcome Aboard Mateys!</h3>
    
                <p class="tooltip1" title="Beal's Conjecture could be true..." style="text-align: center;">
                    I'm your guide, Captain Joe, let me show you the way to Beal's Treasure, the proof that 
                    <a title="Conjecture What?" href="/faq/conjecture-what/">Beal's Conjecture</a>
                    is false.
                </p>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <br>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <p style="text-align: center;">
                    If you would like to make a donation to the project, please visit our 
                    <a title="Donations" href="/faq/donations/">donation page</a>.
                </p>
            </td>
        </tr>
        </tbody>
    </table>
{% endblock %}