commands:
    00-command:
        command: yum repolist all

    01-command:
        command: yum-config-manager --add-repo=http://download.fedoraproject.org/pub/fedora/linux/releases/21/Everything/x86_64/os/

    02-command:
        command: yum check-update
        ignoreErrors: true

    03-command:
        command: yum install python-gmpy2