commands:
    00-command:
        command: yum-config-manager --disable download.fedoraproject.org_pub_fedora_linux_updates_testing_20_x86_64_

    01-command:
        command: yum-config-manager --disable download.fedoraproject.org_pub_fedora_linux_releases_21_Everything_x86_64_

    02-command:
        command: yum-config-manager --add-repo=http://download.fedoraproject.org/pub/fedora/linux/releases/21/Everything/x86_64/os/

    03-command:
        command: yum check-update
        ignoreErrors: true

    04-command:
        command: yum install python-gmpy2