{% extends "BealsTreasure/bootstrap_dashboard.html" %}

{% block title %}About{% endblock %}

{% block content %}
<div id="content">
    <div class="top">
        <div class="bot">
            <div class="inner">
                <div class="wrapper">
                    <div class="col-2">
                        <div class="indent">
                            <h2></h2>

                            <p>

                            <div id="blockStyle701Main8" class=" ccm-block-styles">
                                <div>
                                    <h3>About Captain Joe:</h3>

                                    <p>Joe Bowen (aka Captain Joe) was born in Milwaukee, WI
                                        in 1985. He grew up for most of his life in Lake Orion, MI. Eventually was able
                                        to reach the level of Eagle Scout and graduate high school in 2003. The captain
                                        went to college at Purdue University and graduated in 2007 with a Bachelors of
                                        Science in Computer Engineering.</p>

                                    <p>For more information or to contact the Captain,
                                        please visit his <a href="http://www.linkedin.com/pub/joe-bowen/4b/936/752/">LinkedIn
                                            page</a>.</p>

                                    <h3>About Captain Joe's Search for Beal's Treasure:</h3>

                                    <p>The Captain's search for Beal's Treasure began in the
                                        Spring of 2013 after reading a news article discussing the math theorem and
                                        prize. Previous work done by <a href="http://www.norvig.com/beal.html">Peter
                                            Norvig</a> was used in the creation of a first generation program designed
                                        to search for the solution that would prove Beal's Conjecture false. This took
                                        Peter's single thread program and updated it to run on multiple cores. From
                                        there it was expanded to a local cluster with several multi-core servers. This
                                        was a great improvement from the single threaded program developed by Peter (it
                                        also helped that Peter tested his program on a 400Mhz computer and the Captain
                                        was working with much newer hardware). But this still wasn't enough, more had to
                                        be done. Thus, the Captain came up with a plan of encouraging others to
                                        participate and hopefully becoming more interested in math! </p>

                                    <p>So come join the Captain on his search!</p>

                                    <h3>Credits:</h3>

                                    <p>First, the Captain would like to thank the
                                        Academy...</p>

                                    <p>He jokes, in fact he has several people he would like
                                        to thank.</p>
                                    <dl>
                                        <li><a href="http://www.andrewbeal.com/">Andrew
                                            Beal</a> for his creation of Beal's Conjecture.
                                        </li>
                                        <li><a href="http://norvig.com">Peter Norvig</a>
                                            for his initial work to prove Beal's Conjecture false.
                                        </li>
                                        <li>My parents, Joe and Paula Bowen. What else can
                                            I say but thank you.
                                        </li>
                                        <li>My uncle, Gregg Gaudin. You taught me BASIC in
                                            5th grade, without that who knows where I'd be.
                                        </li>
                                    </dl>
                                </div>
                            </div>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}