{% extends "BealsTreasure/bootstrap_dashboard.html" %}

{% load django_bootstrap_breadcrumbs %}

{% block title %}Do I need to know math?{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "FAQ" "/faq" %}
    {% breadcrumb "Do I need to know math?" "faq_do_i_need_to_know_math" %}
{% endblock %}

{% block content %}
    {% render_breadcrumbs "django_bootstrap_breadcrumbs/bootstrap3.html" %}

    <div id="content" class="top bot inner wrapper col-2 indent">
        <h2>Do I need to know math?</h2>
        
        <p>
            Nope, but it's fun to learn math! Check out the explanation of 
            <a title="Conjecture What?" href="/faq/conjecture-what/">Beal's Conjucture</a>
            (aka Beal's Treasure).
        </p>
    </div>
{% endblock %}