{% extends "BealsTreasure/bootstrap_dashboard.html" %}

{% block title %}Why does this project first need to download data? What is this data anyways?{% endblock %}

{% block content %}
<div id="content">
    <div class="top">
        <div class="bot">
            <div class="inner">
                <div class="wrapper">
                    <div class="col-2">
                        <div class="indent">
                            <h2><h2>Why does this project first need to download data? What
                                is this data anyways?</h2></h2>
                            <p>

                            <p>The project first needs to download a few data files to help
                                it calculate faster. These are zipped text files of pre-calculated numbers that are used
                                in the project. They are only temporarily stored in the normal browser temp files. To
                                see an example of one of these files, see <a
                                        href="/data/5.zip">here</a>.</p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}