{% extends "BealsTreasure/bootstrap_dashboard.html" %}

{% load django_bootstrap_breadcrumbs %}

{% block title %}Why does this project first need to download data? What is this data anyways?{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "FAQ" "/faq" %}
    {% breadcrumb "Why does this project first need to download data? What is this data anyways?" "faq_download_data" %}
{% endblock %}

{% block content %}
    {% render_breadcrumbs "django_bootstrap_breadcrumbs/bootstrap3.html" %}
    <div id="content" class="top bot inner wrapper col-2 indent">
        <h2>
            Why does this project first need to download data? What is this data anyways?
        </h2>
        
        <p>
            The project first needs to download a few data files to help
            it calculate faster. These are zipped text files of pre-calculated numbers that are used
            in the project. They are only temporarily stored in the normal browser temp files. To
            see an example of one of these files, see 
            <a href="/data/5.zip">here</a>.
        </p>
    </div>
{% endblock %}