{% extends "BealsTreasure/bootstrap_dashboard.html" %}

{% block title %}How can I join the search?{% endblock %}

{% block content %}
<div id="content">
    <div class="top">
        <div class="bot">
            <div class="inner">
                <div class="wrapper">
                    <div class="col-2">
                        <div class="indent">
                            <h2>How can I join the search?</h2>
                            <p>To join the search for Beal's Treasure simply go to the <a title="Home" href="/">home
                                page</a> and hit Search! Then sit back and let your computer do the rest! If your
                                computer finds the solution, please contact us with the prize code to discuss the <a
                                        title="Prize" href="/faq/prize/">Prize</a> and make arrangements!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}