{% extends "BealsTreasure/bootstrap_dashboard.html" %}

{% block title %}I think I found something! What happens now?{% endblock %}

{% block content %}
<div id="content">
    <div class="top">
        <div class="bot">
            <div class="inner">
                <div class="wrapper">
                    <div class="col-2">
                        <div class="indent">
                            <h2>I think I found something! What happens now?</h2>
                            <p>

                                <div id="blockStyle594Main11" class=" ccm-block-styles">
                                    <p>If you think you've found something (ie. have a prize
                                        code),please feel free to <a title="Contact Us" href="/contact/">contact the Captain</a>.
                                        so we can verify and start to make arrangements. </p>

                                    <p>First we have to double check that the solution is
                                        actually valid. Then a research paper will be submitted to one or more of the
                                        qualifying math journals as per the rules for qualifying for the prize.</p>

                                </div>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}