{% extends "BealsTreasure/bootstrap_dashboard.html" %}

{% block title %}What happens if Beal's Conjucture is true?{% endblock %}

{% block content %}
<div id="content">
    <div class="top">
        <div class="bot">
            <div class="inner">
                <div class="wrapper">
                    <div class="col-2">
                        <div class="indent">
                            <h2><h2>What happens if Beal's Conjucture is true?</h2></h2>
                            <p>

                            <p>This is a possiblity, but as with real treasure hunts,
                                sometimes the treasure just isn't there. The project will continue until it become too
                                difficult/slow to continue computing with this method, I can no longer afford the
                                webserver and domain (please <a title="Donations" href="/faq/donations/">donate</a> if
                                you like this project), or a solution is found.</p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}