{% extends "BealsTreasure/bootstrap_dashboard.html" %}

{% block title %}Will this slow down my computer and/or network?{% endblock %}

{% block content %}
<div id="content">
    <div class="top">
        <div class="bot">
            <div class="inner">
                <div class="wrapper">
                    <div class="col-2">
                        <div class="indent">
                            <h2><h2>Will this slow down my computer and/or network?</h2>
                            </h2>
                            <p>

                            <p>This should not slow down your computer and/or internet.
                                There is a small initial download, used to load the data files. Once this initial
                                download of data is done, there are periodic download updates but these shouldn't be
                                enough to cause your internet to slow down. While this project performs calculations on
                                your machine, the website has been designed to minimize any slow downs of the browser
                                and computer.</p>

                            <p>If you have issues with the website, please feel free to <a
                                    title="Contact Us" href="/contact/">contact the Captain</a>.</p>

                            <p>Legal: None of this constitutes any sort of warranty or
                                guarantee. We just do our best...</p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}