{% extends "BealsTreasure/bootstrap_dashboard.html" %}

{% block title %}Is this project stealing my information? Or doing anything bad?{% endblock %}

{% block content %}
<div id="content">
    <div class="top">
        <div class="bot">
            <div class="inner">
                <div class="wrapper">
                    <div class="col-2">
                        <div class="indent">
                            <h2><h2>Is this project stealing my information? Or doing
                                anything bad?</h2></h2>
                            <p>

                            <p>This project is really working on Beal's Conjecture, but
                                don't take my word for it. You can either ask a trusted geek friend to check us out or
                                do the research yourself (I find learning to be most gratifying myself) I've included a
                                place to get you started.</p>

                            <p>Please refer to <a
                                    href="http://code.google.com/p/browsersec/wiki/Part2#Standard_browser_security_features">standard
                                browser security features</a> to learn more about how browsers protect against malicious
                                websites.</p>

                            <p>"Despite the fact that you're now a part of a giant super
                                computer, standard website technology was used. I find it amazing that you can be part
                                of a supercomputer from your home computer through a simple website!" --The
                                Captain </p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}