{% extends "bealstreasure/bootstrap_dashboard.html" %}

{% load django_bootstrap_breadcrumbs %}

{% block title %}How can I join the search?{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "FAQ" "/faq" %}
    {% breadcrumb "How can I join the search?" "faq_how_can_i_join" %}
{% endblock %}

{% block content %}
    {% render_breadcrumbs "django_bootstrap_breadcrumbs/bootstrap3.html" %}

    <div id="content" class="top bot inner wrapper col-2 indent">
        <h2>How can I join the search?</h2>
        <p>
            To join the search for Beal's Treasure simply go to the 
            <a title="Home" href="/">home page</a> 
            and hit Search! Then sit back and let your computer do the rest! If your
            computer finds the solution, please contact us with the code.
        </p>
    </div>
{% endblock %}