{% extends "bealstreasure/bootstrap_dashboard.html" %}

{% load django_bootstrap_breadcrumbs %}

{% block title %}I think I found something! What happens now?{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "FAQ" "/faq" %}
    {% breadcrumb "I think I found something! What happens now?" "faq_i_found_something" %}
{% endblock %}

{% block content %}
    {% render_breadcrumbs "django_bootstrap_breadcrumbs/bootstrap3.html" %}
    <div id="content" class="top bot inner wrapper col-2 indent">
        <h2>I think I found something! What happens now?</h2>
        
        <div id="blockStyle594Main11" class=" ccm-block-styles">
            <p>
                If you think you've found something (ie. have a prize code),please feel free to
                <a title="Contact Us" href="/contact/">contact the Captain</a>.
                so we can verify and start to make arrangements. 
            </p>
    
            <p>
                First we have to double check that the solution is
                actually valid. Then a research paper will be submitted to one or more of the
                qualifying math journals as per the rules for qualifying for the prize.
            </p>
        </div>
    </div>
{% endblock %}