{% extends "BealsTreasure/bootstrap_dashboard.html" %}

{% block title %}Prize{% endblock %}

{% block content %}
<div id="content">
    <div class="top">
        <div class="bot">
            <div class="inner">
                <div class="wrapper">
                    <div class="col-2">
                        <div class="indent">
                            <h2><h2>Prize</h2></h2>
                            <p>

                            <p>Andy Beal is a self made billionaire, mathematical enthusiast
                                and screwed poker player who is willing to put up $1,000,000 to prove or disprove his
                                theory.</p>

                            <p>Note: The prize must be certified and awarded by the <a
                                    href="http://www.ams.org/profession/prizes-awards/ams-supported/beal-prize">American
                                Mathematical Society</a> to this project before any monies can be distributed.</p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}