{% extends "bealstreasure/bootstrap_dashboard.html" %}

{% load django_bootstrap_breadcrumbs %}

{% block title %}Why do you need my help in the search?{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "FAQ" "/faq" %}
    {% breadcrumb "Why do you need my help in the search?" "faq_why_do_you_need_me" %}
{% endblock %}

{% block content %}
    {% render_breadcrumbs "django_bootstrap_breadcrumbs/bootstrap3.html" %}
    <div id="content" class="top bot inner wrapper col-2 indent">
        <h2>Why do you need my help in the search?</h2>
        <p>
            Proving Beal's Conjuncture false is a lot like opening a
            combination lock that you forgot the code too. You start trying every combination until
            you find one that works. Imagine having to try every combination on a 4 digit
            combination lock, that's 5040 different possible combinations you'd have to try. That's
            a lot of work, but not nearly as many combinations as the over 18 trillion attempts that
            have been performed by this project, so far!
        </p>
        
        <p>
            The objective of the project is to compute as many attempts
            as possible (or until we find one that fits!) The more users that join the project, the
            more attempts we can try. The more attempts we can try, the closer we are to potentially
            proving Beal's Conjuncture false.
        </p>
        
        <p>
            This is why it's necessary for the most amount of
            participation possible, which is why the Captain has decided to give away part of the
            prize as an incentive to the three users who's computers verify a solution.
        </p>
    </div>

{% endblock %}